.divClass h1 {
    color:rgb(218, 15, 15);
}
.divClass h3, h4 {
    color: blanchedalmond;
}
.divClass a {
    color: blueviolet;
}
#thirdDiv img {
   /* ancho */ width: 400px;
}
#thirdDiv {
    /* largo o alto */height: 600px; width: 500px;
}
#thirdDiv li {
    color: blanchedalmond;
}
#thirdDiv {
  /* color de fondo */  background-color: black;
}
#spanId span {
   /* tamaño de letra */ font-size: 18px;
}
#spanId {
    margin: 50px;
}
#thirdDiv {
   /* relleno */ padding: 50px;
}
#thirdDiv {
    border-width: 20px; border-color: beige;
    border-style:outset;
}
.divClass {
    margin: 0px auto;
}